
.icon-doc:before { content: '\e800'; } /* '' */
.icon-blind:before { content: '\e802'; } /* '' */
.icon-shop:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '\e805'; } /* '' */
.icon-user-pair:before { content: '\e806'; } /* '' */
.icon-gift:before { content: '\e807'; } /* '' */
.icon-commerical-building:before { content: '\e811'; } /* '' */
.icon-location-1:before { content: '\f031'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */